*{
      margin: 0 auto ;
      padding: 0;

}
a{
      color: #fff;
      text-decoration: none;
}
.wrapper{
      width: 1089px;
}

.menu{
      width: 1089px;
      background-color: #cf3333;
}
.menu-item{
      display:inline-block;
      margin: 6px 12px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
}
